.input {
  padding: 10px;
  max-width: 600px;
  width: 100%;
  font-size: 18px;
  outline: none;
  border: none;
  margin-right: 20px;

  &::placeholder {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
